* {
    margin: 0;
}

body{
    
}


header {
    display: flex;
    justify-content:;
    align-items: center;
    padding: 20px;
    background: #0086FA;
    flex-wrap: wrap;
}

h1 {
    display: flex;
    justify-content:;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    justify-content:;
    align-items:flex-end;
    flex-wrap: wrap;
}


h1, h2{
    padding-top:3%;
    text-align:center;
}

main {
    position:static;
    /* height: 65vh; */
    background-color: rgb(255, 255, 255);
}

h3{
    font-size: 180%;
    text-align: center;
}
h4{
    font-size: 120%;
    text-align: center;
}



form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0.5%;
}
div#dados {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0.5%;
}
div#login {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0.5%;
}
div#termos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0.5%;
}
div#botoes {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    padding: 0.5%;
}
div#pagamentos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/* botão gogogo cadastrar */
#bcadastrar{
    margin: 2%;
    background-color: rgb(110, 219, 0);
    font: bold;
    transition-duration: 0.5s;
}
#bcadastrar:hover {
    transform:scale(5px);
}
#bcadastrar:active {
    background-color: rgb(6, 167, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-style:ridge;
}

/* botão reset Gamer Over */
#breset {
 margin: 2%;
}



footer {
    /* height: 10vh; */
    background-color: rgb(136, 42, 190);
}