@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Parisienne&display=swap');
@import url("https://use.typekit.net/etg6cyt.css");
html * {
    margin: 0;
}
body {
    background-image: url("https://bit.ly/3qpfuQ7"); 
    background-repeat: no-repeat;
    background-size: cover;
    color: cornsilk;
}
header {
    max-height: 10vh;
}
h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 60px;
    font-family: 'Parisienne', cursive;
}
h2 {
    text-align: center;
    font-size: 22px;
    font-family: 'Merriweather', serif;
}
#div {   
    max-height: 71vh;
}
#text1 {
    margin-top: 115px;
    width: 35%;
    line-height: 40px;
    font-size: 25px;
    margin-left: 55px;
    font-family: parisine-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}
h3 {
    margin-bottom: 60px;
    position: relative;
    top:100px;
    margin-left: 80px;
    font-size: 27px;
}
ul {
    line-height: 35px;
    list-style: disc;
    width:50%;
    margin-left: 150px;
    position: relative;
    top: 100px;
    font-size: 22px;
    font-family: parisine-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}
#video {
    display: block;
    width: 40%;
    height: 50vh;
    margin-left: 55vw;  
    position: relative;
    bottom: 500px;  
}
.icones {
    position: relative;
    left: 95vw ;  
    width: 50px;
}