body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

p{
    text-align: center;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
    opacity: 0.8;
}
h3 {
    text-align: center;
}
li{
    text-align: center;
}

mark {
    background-color:springgreen
}